@import url("https://fonts.googleapis.com/css?family=Montserrat:regular,700&display=swap");

@font-face {
  font-family: icons;
  font-display: swap;
  src: url("../fonts/icons.woff") format("woff"), url("../fonts/icons.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "icons";
  font-display: swap;
  src: url("../fonts/icons.woff") format("woff"), url("../fonts/icons.woff2#icons") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class*=_icon-]::before,
[class*=" _icon-"]::before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-decoration: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class*=_icon-]::before,
[class*=" _icon-"]::before {
  display: block;
}

._icon-arrow-right:before {
  content: "\e900";
}

._icon-cart:before {
  content: "\e901";
}

._icon-download:before {
  content: "\e902";
}

._icon-facebook:before {
  content: "\e903";
}

._icon-favorite:before {
  content: "\e904";
}

._icon-gmail:before {
  content: "\e905";
}

._icon-instagram:before {
  content: "\e906";
}

._icon-location:before {
  content: "\e907";
}

._icon-phone:before {
  content: "\e908";
}

._icon-twitter:before {
  content: "\e909";
}

._icon-watch:before {
  content: "\e90a";
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  height: 100%;
  line-height: 1;
}

a.button {
  font-size: calc(10px + 4 * ((100vw - 320px) / 1600));
  padding-top: calc(12px + 3 * ((100vw - 320px) / 1600));
  padding-right: calc(10px + 30 * ((100vw - 320px) / 1600));
  padding-bottom: calc(5px + 10 * ((100vw - 320px) / 1600));
  padding-left: calc(10px + 30 * ((100vw - 320px) / 1600));
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0.2px;
  color: #FFFFFF;
  background: #96BB7C;
  border-radius: 5px;
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}

a.button:hover {
  background-color: #678651;
}

a.button-border {
  font-size: calc(10px + 4 * ((100vw - 320px) / 1600));
  padding-top: calc(5px + 5 * ((100vw - 320px) / 1600));
  padding-right: calc(10px + 10 * ((100vw - 320px) / 1600));
  padding-bottom: calc(5px + 5 * ((100vw - 320px) / 1600));
  padding-left: calc(10px + 10 * ((100vw - 320px) / 1600));
  font-weight: 700;
  line-height: 1.71;
  letter-spacing: 0.2px;
  color: #96bb7c;
  border-radius: 37px;
  border: solid 1px #96bb7c;
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}

a.button-border:hover {
  background-color: #96bb7c;
  color: #fff;
}

a.button-border-2 {
  font-size: calc(10px + 4 * ((100vw - 320px) / 1600));
  padding-top: calc(12px + 3 * ((100vw - 320px) / 1600));
  padding-right: calc(10px + 30 * ((100vw - 320px) / 1600));
  padding-bottom: calc(5px + 10 * ((100vw - 320px) / 1600));
  padding-left: calc(10px + 30 * ((100vw - 320px) / 1600));
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0.2px;
  color: #96BB7C;
  border: 1px solid #96BB7C;
  border-radius: 5px;
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}

a.button-border-2:hover {
  background-color: #96BB7C;
  color: #fff;
}

.title {
  font-weight: 700;
  font-size: calc(20px + 20 * ((100vw - 320px) / 1600));
  line-height: 50px;
  letter-spacing: 0.2px;
  color: #252B42;
}

.title-big {
  font-weight: 700;
  font-size: calc(28px + 30 * ((100vw - 320px) / 1600));
  line-height: 80px;
  letter-spacing: 0.2px;
  color: #252B42;
}

.sub-title {
  font-weight: 700;
  font-size: calc(14px + 2 * ((100vw - 320px) / 1600));
  line-height: 24px;
  letter-spacing: 0.1px;
  color: #96BB7C;
}

.text {
  font-size: calc(12px + 2 * ((100vw - 320px) / 1600));
  line-height: 1.43;
  letter-spacing: 0.2px;
  color: #737373;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 14px;
  color: #737373;
}

body.lock {
  overflow: hidden;
}

[class*=__container] {
  max-width: 1080px;
  margin: 0px auto;
  padding: 0px 15px;
}

/*====================HEADER====================*/

.header {
  background-color: #fafafa;
}

.header .header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: calc(40px + 50 * ((100vw - 320px) / 1600));
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .header__logo {
  z-index: 50;
}

.header .header__logo img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.header .menu .menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.header .menu .menu__link {
  font-weight: 700;
  font-size: calc(12px + 2 * ((100vw - 320px) / 1600));
  line-height: 24px;
  letter-spacing: 0.2px;
  color: #737373;
  position: relative;
  background-color: transparent;
}

.header .menu .menu__link::after {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 0;
  height: 1px;
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
  background-color: #444240;
}

.header .menu .menu__link:hover::after {
  width: 100%;
}

.header .header__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.header .header__buttons .header__login {
  padding-right: calc(15px + 30 * ((100vw - 320px) / 1600));
  font-weight: 700;
  font-size: calc(12px + 2 * ((100vw - 320px) / 1600));
  line-height: 22px;
  letter-spacing: 0.2px;
  color: #96bb7c;
  -webkit-transition: -webkit-text-decoration 0.8s ease 0s;
  transition: -webkit-text-decoration 0.8s ease 0s;
  -o-transition: text-decoration 0.8s ease 0s;
  transition: text-decoration 0.8s ease 0s;
  transition: text-decoration 0.8s ease 0s, -webkit-text-decoration 0.8s ease 0s;
}

.header .header__buttons .header__login:hover {
  text-decoration: underline;
}

.header .header__buttons .header__button {
  z-index: 49;
}

/*====================PAGE====================*/

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.page__benefits {
  position: relative;
  z-index: 2;
  margin-top: calc(70px + -170 * ((100vw - 320px) / 1600));
}

/*====================STUDENTS====================*/

.students {
  background-color: #fafafa;
}

.students .students__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  padding-top: calc(10px + 85 * ((100vw - 320px) / 1600));
}

.students .students__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.students .students__body {
  width: 50%;
}

.students .students__sub-title {
  padding-bottom: calc(5px + 30 * ((100vw - 320px) / 1600));
}

.students .students__title {
  padding-bottom: calc(5px + 30 * ((100vw - 320px) / 1600));
}

.students .students__text {
  font-weight: 400;
  font-size: calc(10px + 10 * ((100vw - 320px) / 1600));
  line-height: 30px;
  letter-spacing: 0.2px;
  padding-bottom: calc(5px + 30 * ((100vw - 320px) / 1600));
}

.students .students__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.students .students__button {
  margin-right: calc(5px + 5 * ((100vw - 320px) / 1600));
  margin-bottom: calc(10px + 10 * ((100vw - 320px) / 1600));
}

.students .students__button:last-child {
  margin-right: calc(0px + 0 * ((100vw - 320px) / 1600));
}

.students .students__image img {
  max-width: 100%;
}

/*====================BENEFITS====================*/

.benefits {
  background-color: #fafafa;
}

.benefits .benefits__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-bottom: calc(20px + 60 * ((100vw - 320px) / 1600));
}

.benefits .benefits__item {
  background-color: #FFFFFF;
  -webkit-box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
          box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
  margin-right: calc(15px + 15 * ((100vw - 320px) / 1600));
  margin-bottom: calc(10px + 10 * ((100vw - 320px) / 1600));
}

.benefits .benefits__item::before {
  margin-right: calc(0px + 0 * ((100vw - 320px) / 1600));
}

.benefits .item {
  padding: calc(15px + 15 * ((100vw - 320px) / 1600));
}

.benefits .item .item__image {
  padding-bottom: calc(10px + 10 * ((100vw - 320px) / 1600));
}

.benefits .item .item__title {
  font-weight: 700;
  font-size: calc(16px + 8 * ((100vw - 320px) / 1600));
  line-height: 32px;
  letter-spacing: 0.1px;
  color: #252b42;
  padding-bottom: calc(10px + 10 * ((100vw - 320px) / 1600));
}

.benefits .item .item__line {
  content: "";
  width: 50px;
  height: 2px;
  background-color: #E74040;
  margin-bottom: calc(10px + 10 * ((100vw - 320px) / 1600));
}

.benefits .item .item__text {
  font-weight: 400;
  font-size: calc(12px + 2 * ((100vw - 320px) / 1600));
  line-height: 20px;
  letter-spacing: 0.2px;
  max-width: 250px;
}

/*====================WHAT-WE====================*/

.what-we .what-we__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: calc(20px + 60 * ((100vw - 320px) / 1600));
  padding-bottom: calc(20px + 60 * ((100vw - 320px) / 1600));
}

.what-we .what-we__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
}

.what-we .what-we__item-title {
  font-weight: 700;
  font-size: calc(28px + 30 * ((100vw - 320px) / 1600));
  line-height: 80px;
  letter-spacing: 0.2px;
  text-align: center;
  color: #96bb7c;
}

.what-we .what-we__item-text {
  font-weight: 700;
  font-size: calc(14px + 2 * ((100vw - 320px) / 1600));
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.1px;
  color: #252b42;
}

/*====================CLIENT====================*/

.client {
  padding-top: calc(20px + 140 * ((100vw - 320px) / 1600));
  padding-bottom: calc(20px + 140 * ((100vw - 320px) / 1600));
}

.client .client__content {
  padding-top: calc(20px + 68 * ((100vw - 320px) / 1600));
  padding-bottom: calc(20px + 68 * ((100vw - 320px) / 1600));
}

.client .client__line {
  width: 94px;
  height: 7px;
  background-color: #E74040;
  margin-bottom: calc(10px + 25 * ((100vw - 320px) / 1600));
}

.client .client__title {
  padding-bottom: calc(10px + 25 * ((100vw - 320px) / 1600));
}

.client .client__text {
  padding-bottom: calc(10px + 25 * ((100vw - 320px) / 1600));
}

.client .client__more {
  font-weight: 700;
  font-size: calc(12px + 2 * ((100vw - 320px) / 1600));
  line-height: 24px;
  letter-spacing: 0.2px;
  color: #96bb7c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/*====================TEACHER====================*/

.teacher {
  background-color: #fff2f3;
  padding-top: calc(20px + 140 * ((100vw - 320px) / 1600));
  padding-bottom: calc(20px + 140 * ((100vw - 320px) / 1600));
}

.teacher .teacher__sub-title {
  padding-bottom: calc(5px + 5 * ((100vw - 320px) / 1600));
}

.teacher .teacher__title {
  padding-bottom: calc(5px + 5 * ((100vw - 320px) / 1600));
}

.teacher .teacher__text {
  max-width: 470px;
  font-weight: 400;
  font-size: calc(12px + 2 * ((100vw - 320px) / 1600));
  padding-bottom: calc(20px + 60 * ((100vw - 320px) / 1600));
}

.teacher .teacher__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.teacher .teacher__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
  padding-bottom: calc(10px + 10 * ((100vw - 320px) / 1600));
}

.teacher .item-teacher {
  position: relative;
}

.teacher .item-teacher .item-teacher__sale {
  font-weight: 700;
  font-size: calc(12px + 2 * ((100vw - 320px) / 1600));
  line-height: 24px;
  letter-spacing: 0.2px;
  text-align: center;
  color: #FFFFFF;
  background-color: #E74040;
  -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  max-width: 51px;
  max-height: 24px;
  position: absolute;
  margin-top: calc(10px + 5 * ((100vw - 320px) / 1600));
  margin-left: calc(5px + 5 * ((100vw - 320px) / 1600));
  padding-right: calc(5px + 5 * ((100vw - 320px) / 1600));
  padding-left: calc(5px + 5 * ((100vw - 320px) / 1600));
}

.teacher .item-teacher .item-teacher__image {
  z-index: 10;
}

.teacher .item-teacher .item-teacher__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: -60px 0px 20px 0px;
}

.teacher .item-teacher .item-teacher__icons .item-teacher__icon {
  background-color: #FFFFFF;
  border-radius: 44.7857px;
  padding: calc(5px + 5 * ((100vw - 320px) / 1600));
  margin-right: calc(5px + 5 * ((100vw - 320px) / 1600));
}

.teacher .item-teacher .item-teacher__icons .item-teacher__icon:last-child {
  margin-right: calc(0px + 0 * ((100vw - 320px) / 1600));
}

.teacher .item-teacher .item-teacher__top {
  padding-top: calc(15px + 10 * ((100vw - 320px) / 1600));
  padding-right: calc(15px + 10 * ((100vw - 320px) / 1600));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.teacher .item-teacher .item-teacher__top .item-teacher__sub-title {
  font-size: calc(12px + 2 * ((100vw - 320px) / 1600));
}

.teacher .item-teacher .item-teacher__top .item-teacher__star {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #2D4059;
  font-weight: 400;
  font-size: calc(10px + 2 * ((100vw - 320px) / 1600));
  line-height: 16px;
  letter-spacing: 0.2px;
  color: #FFFFFF;
  border-radius: 20px;
  padding-right: calc(3px + 2 * ((100vw - 320px) / 1600));
}

.teacher .item-teacher .item-teacher__top .item-teacher__star div {
  color: #FFCE31;
  font-size: 20px;
  padding-right: calc(3px + 2 * ((100vw - 320px) / 1600));
  padding-left: calc(3px + 2 * ((100vw - 320px) / 1600));
}

.teacher .item-teacher .item-teacher__content {
  background-color: #fff;
  margin-right: calc(5px + 5 * ((100vw - 320px) / 1600));
  padding-left: calc(15px + 10 * ((100vw - 320px) / 1600));
  padding-bottom: calc(15px + 20 * ((100vw - 320px) / 1600));
}

.teacher .item-teacher .item-teacher__content .item-teacher__title {
  font-size: 16px;
}

.teacher .item-teacher .item-teacher__content .item-teacher__text {
  font-size: calc(12px + 2 * ((100vw - 320px) / 1600));
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.2px;
  max-width: 280px;
  padding-bottom: calc(5px + 5 * ((100vw - 320px) / 1600));
}

.teacher .item-teacher .item-teacher__content .item-teacher__download {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 700;
  font-size: calc(12px + 2 * ((100vw - 320px) / 1600));
  line-height: 24px;
  letter-spacing: 0.2px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: calc(10px + 5 * ((100vw - 320px) / 1600));
}

.teacher .item-teacher .item-teacher__content .price-item-teacher {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: calc(5px + 5 * ((100vw - 320px) / 1600));
}

.teacher .item-teacher .item-teacher__content .price-item-teacher .price-item-teacher__old {
  font-weight: 700;
  font-size: calc(14px + 2 * ((100vw - 320px) / 1600));
  line-height: 24px;
  letter-spacing: 0.1px;
  color: #BDBDBD;
  padding-right: calc(3px + 2 * ((100vw - 320px) / 1600));
}

.teacher .item-teacher .item-teacher__content .price-item-teacher .price-item-teacher__price {
  font-weight: 700;
  font-size: calc(14px + 2 * ((100vw - 320px) / 1600));
  line-height: 24px;
  letter-spacing: 0.1px;
  color: #FFAB71;
}

/*====================IMPORTANT====================*/

.important {
  padding-top: calc(20px + 140 * ((100vw - 320px) / 1600));
  padding-bottom: calc(20px + 140 * ((100vw - 320px) / 1600));
}

.important .important__sub-title {
  padding-bottom: calc(5px + 5 * ((100vw - 320px) / 1600));
}

.important .important__title {
  padding-bottom: calc(5px + 5 * ((100vw - 320px) / 1600));
}

.important .important__text {
  font-weight: 400;
}

.important .important__items {
  padding-top: calc(20px + 60 * ((100vw - 320px) / 1600));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.important .important__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
  padding-bottom: calc(20px + 10 * ((100vw - 320px) / 1600));
}

.important .item-important {
  padding-left: calc(20px + 45 * ((100vw - 320px) / 1600));
}

.important .item-important .item-important__stars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: calc(5px + 10 * ((100vw - 320px) / 1600));
}

.important .item-important .item-important__stars .item-important__star {
  padding-right: calc(3px + 2 * ((100vw - 320px) / 1600));
}

.important .item-important .item-important__stars .item-important__star:last-child {
  padding-right: calc(0px + 0 * ((100vw - 320px) / 1600));
}

.important .item-important .item-important__text {
  font-weight: 400;
  font-size: calc(12px + 2 * ((100vw - 320px) / 1600));
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.2px;
  width: 120px;
  padding-left: calc(5px + 5 * ((100vw - 320px) / 1600));
  padding-bottom: calc(15px + 15 * ((100vw - 320px) / 1600));
}

.important .item-important .autor-item-important .autor-item-important__avatar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.important .item-important .autor-item-important .autor-item-important__body {
  margin-left: calc(5px + 10 * ((100vw - 320px) / 1600));
}

.important .item-important .autor-item-important .autor-item-important__body .autor-item-important__name {
  font-weight: 700;
  font-size: calc(12px + 2 * ((100vw - 320px) / 1600));
  line-height: 24px;
  letter-spacing: 0.2px;
  color: #96bb7c;
}

.important .item-important .autor-item-important .autor-item-important__body .autor-item-important__profession {
  font-weight: 400;
  font-size: calc(10px + 2 * ((100vw - 320px) / 1600));
  line-height: 16px;
  letter-spacing: 0.2px;
  color: #252b42;
}

/*====================COURSES====================*/

.courses {
  padding-top: calc(20px + 92 * ((100vw - 320px) / 1600));
  padding-bottom: calc(20px + 92 * ((100vw - 320px) / 1600));
}

.courses .courses__sub-title {
  padding-bottom: calc(5px + 5 * ((100vw - 320px) / 1600));
}

.courses .courses__title {
  padding-bottom: calc(5px + 5 * ((100vw - 320px) / 1600));
}

.courses .courses__text {
  font-weight: 400;
  max-width: 470px;
}

.courses .courses__items {
  margin-top: calc(20px + 92 * ((100vw - 320px) / 1600));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.courses .courses__items .courses__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 20%;
          flex: 0 1 20%;
  margin-right: calc(10px + 10 * ((100vw - 320px) / 1600));
  margin-bottom: calc(10px + 10 * ((100vw - 320px) / 1600));
}

.courses .item-courses {
  background: #FFFFFF;
  -webkit-box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
          box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
  border-radius: 20px;
}

.courses .item-courses .item-courses__title {
  font-weight: 700;
  font-size: calc(14px + 2 * ((100vw - 320px) / 1600));
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.1px;
  color: #252b42;
  padding-top: calc(15px + 15 * ((100vw - 320px) / 1600));
}

.courses .item-courses .item-courses__profession {
  font-weight: 400;
  font-size: calc(10px + 2 * ((100vw - 320px) / 1600));
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.2px;
  padding-bottom: calc(5px + 5 * ((100vw - 320px) / 1600));
}

.courses .item-courses .item-courses__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: calc(15px + 15 * ((100vw - 320px) / 1600));
  padding-left: calc(20px + 40 * ((100vw - 320px) / 1600));
}

.courses .item-courses .item-courses__icons .item-courses__icon {
  color: #96BB7C;
  font-size: 25px;
  padding-right: calc(10px + 10 * ((100vw - 320px) / 1600));
}

.courses .item-courses .item-courses__icons .item-courses__icon:last-child {
  padding-right: calc(0px + 0 * ((100vw - 320px) / 1600));
}

/*====================WATCH====================*/

.watch {
  padding-top: calc(20px + 140 * ((100vw - 320px) / 1600));
  padding-bottom: calc(20px + 140 * ((100vw - 320px) / 1600));
}

.watch .watch__sub-title {
  text-align: center;
  padding-bottom: calc(5px + 5 * ((100vw - 320px) / 1600));
}

.watch .watch__title {
  text-align: center;
  padding-bottom: calc(5px + 5 * ((100vw - 320px) / 1600));
}

.watch .watch__text {
  text-align: center;
}

.watch .form-watch {
  text-align: center;
  padding-top: calc(20px + 60 * ((100vw - 320px) / 1600));
}

.watch .form-watch .form-watch__input {
  width: calc(150px + 538 * ((100vw - 320px) / 1600));
  height: calc(40px + 18 * ((100vw - 320px) / 1600));
  background: #F9F9F9;
  border: 1px solid #E6E6E6;
  border-radius: 5px;
  padding-left: calc(10px + 10 * ((100vw - 320px) / 1600));
}

.watch .form-watch .form-watch__input::-webkit-input-placeholder {
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.2px;
  font-size: calc(12px + 2 * ((100vw - 320px) / 1600));
}

.watch .form-watch .form-watch__input::-moz-placeholder {
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.2px;
  font-size: calc(12px + 2 * ((100vw - 320px) / 1600));
}

.watch .form-watch .form-watch__input:-ms-input-placeholder {
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.2px;
  font-size: calc(12px + 2 * ((100vw - 320px) / 1600));
}

.watch .form-watch .form-watch__input::-ms-input-placeholder {
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.2px;
  font-size: calc(12px + 2 * ((100vw - 320px) / 1600));
}

.watch .form-watch .form-watch__input::placeholder {
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.2px;
  font-size: calc(12px + 2 * ((100vw - 320px) / 1600));
}

.watch .form-watch .form-watch__button {
  background-color: transparent;
  font-size: calc(10px + 4 * ((100vw - 320px) / 1600));
  padding-top: calc(12px + 3 * ((100vw - 320px) / 1600));
  padding-right: calc(10px + 30 * ((100vw - 320px) / 1600));
  padding-bottom: calc(5px + 10 * ((100vw - 320px) / 1600));
  padding-left: calc(10px + 30 * ((100vw - 320px) / 1600));
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0.2px;
  color: #FFFFFF;
  background: #96BB7C;
  border-radius: 5px;
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}

.watch .form-watch .form-watch__button:hover {
  background-color: #678651;
}

/*====================FOOTER====================*/

.footer {
  background-color: #fff;
}

.footer .top-footer .top-footer__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: calc(20px + 30 * ((100vw - 320px) / 1600));
  padding-bottom: calc(20px + 30 * ((100vw - 320px) / 1600));
}

.footer .top-footer .top-footer__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 18%;
          flex: 0 1 18%;
}

.footer .top-footer .top-footer__title {
  font-weight: 700;
  font-size: calc(14px + 2 * ((100vw - 320px) / 1600));
  line-height: 24px;
  letter-spacing: 0.1px;
  color: #252b42;
  padding-bottom: calc(10px + 10 * ((100vw - 320px) / 1600));
}

.footer .top-footer .top-footer-menu .top-footer-menu__list {
  display: block;
}

.footer .top-footer .top-footer-menu .top-footer-menu__item {
  padding-bottom: calc(5px + 5 * ((100vw - 320px) / 1600));
}

.footer .top-footer .top-footer-menu .top-footer-menu__link {
  font-weight: 700;
  font-size: calc(12px + 2 * ((100vw - 320px) / 1600));
  line-height: 24px;
  letter-spacing: 0.2px;
  color: #737373;
}

.footer .top-footer .top-footer__numder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 700;
  font-size: calc(12px + 2 * ((100vw - 320px) / 1600));
  line-height: 24px;
  letter-spacing: 0.2px;
  color: #737373;
}

.footer .top-footer .top-footer__numder ._icon-phone {
  color: #96bb7c;
  font-size: calc(10px + 10 * ((100vw - 320px) / 1600));
  padding-right: calc(3px + 4 * ((100vw - 320px) / 1600));
}

.footer .top-footer .top-footer__location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 700;
  font-size: calc(12px + 2 * ((100vw - 320px) / 1600));
  line-height: 24px;
  letter-spacing: 0.2px;
  color: #737373;
}

.footer .top-footer .top-footer__location ._icon-location {
  color: #96bb7c;
  font-size: calc(10px + 10 * ((100vw - 320px) / 1600));
  padding-right: calc(3px + 4 * ((100vw - 320px) / 1600));
}

.footer .top-footer .top-footer__gmail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 700;
  font-size: calc(12px + 2 * ((100vw - 320px) / 1600));
  line-height: 24px;
  letter-spacing: 0.2px;
  color: #737373;
}

.footer .top-footer .top-footer__gmail ._icon-gmail {
  color: #96bb7c;
  font-size: calc(10px + 10 * ((100vw - 320px) / 1600));
  padding-right: calc(3px + 4 * ((100vw - 320px) / 1600));
}

.footer .bottom-footer {
  background-color: #fafafa;
}

.footer .bottom-footer .bottom-footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: calc(60px + 14 * ((100vw - 320px) / 1600));
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer .bottom-footer .bottom-footer__done {
  font-weight: 700;
  font-size: calc(12px + 2 * ((100vw - 320px) / 1600));
  line-height: 24px;
  letter-spacing: 0.2px;
}

.footer .bottom-footer .bottom-footer__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer .bottom-footer .bottom-footer__icon {
  padding-right: calc(5px + 15 * ((100vw - 320px) / 1600));
}

.footer .bottom-footer .bottom-footer__icon:last-child {
  padding-right: calc(0px + 0 * ((100vw - 320px) / 1600));
}

.footer .bottom-footer .bottom-footer__icon ._icon-facebook {
  color: #96bb7c;
  font-size: calc(15px + 8 * ((100vw - 320px) / 1600));
}

.footer .bottom-footer .bottom-footer__icon ._icon-instagram {
  color: #96bb7c;
  font-size: calc(15px + 8 * ((100vw - 320px) / 1600));
}

.footer .bottom-footer .bottom-footer__icon ._icon-twitter {
  color: #96bb7c;
  font-size: calc(15px + 8 * ((100vw - 320px) / 1600));
}

@media (min-width: 767.98px) {
  .header .menu .menu__list {
    padding-left: calc(40px + 38 * ((100vw - 320px) / 1600));
    padding-right: calc(80px + 160 * ((100vw - 320px) / 1600));
  }

  .header .menu .menu__item {
    padding-right: calc(10px + 11 * ((100vw - 320px) / 1600));
  }

  .header .menu .menu__item:last-child {
    padding-right: calc(0px + 0 * ((100vw - 320px) / 1600));
  }

  .header .header__buttons-new-item {
    display: none;
  }

  .students {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .students .students__image {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 55%;
            flex: 0 0 55%;
    -webkit-transform: translate(-100%, 0px);
        -ms-transform: translate(-100%, 0px);
            transform: translate(-100%, 0px);
  }

  .client .client__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (min-width: 1200px) {
  .teacher .item-teacher .item-teacher__content .item-teacher__title {
    font-size: calc(14px + 2 * ((100vw - 320px) / 1600));
  }
}

@media (max-width: 850px) {
  .benefits .benefits__items {
    margin-top: calc(20px + 180 * ((100vw - 320px) / 1600));
  }
}

@media (max-width: 810px) {
  .teacher .item-teacher .item-teacher__icons {
    margin: -60px 0px 30px 0px;
  }
}

@media (max-width: 767.98px) {
  .header .header__container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .header .menu .menu__link {
    font-size: calc(30px + 20 * ((100vw - 320px) / 1600));
    color: #000;
  }

  .header .header__buttons-item {
    display: none;
  }

  .header .header__buttons-new-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-left: calc(90px + 740 * ((100vw - 320px) / 1600));
  }

  .menu__body {
    position: fixed;
    height: 100%;
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-transition: left 0.8s ease 0s;
    -o-transition: left 0.8s ease 0s;
    transition: left 0.8s ease 0s;
    left: -100%;
    bottom: 0%;
    overflow: auto;
    background-color: #6f9157;
  }

  .menu__body.active {
    left: 0;
  }

  .menu__list {
    text-align: center;
    padding-top: calc(150px + 50 * ((100vw - 320px) / 1600));
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .menu__item {
    margin-bottom: 25px;
  }

  .menu__link {
    font-size: 30px;
    color: #fff;
  }

  .burger {
    display: block;
    cursor: pointer;
  }

  span {
    display: block;
    width: 25px;
    height: 2px;
    margin: 5px auto;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    background-color: #000;
  }

  .burger.active span:nth-child(2) {
    opacity: 0;
  }

  .burger.active span:nth-child(1) {
    -webkit-transform: translateY(8px) rotate(42deg);
        -ms-transform: translateY(8px) rotate(42deg);
            transform: translateY(8px) rotate(42deg);
  }

  .burger.active span:nth-child(3) {
    -webkit-transform: translateY(-8px) rotate(-40deg);
        -ms-transform: translateY(-8px) rotate(-40deg);
            transform: translateY(-8px) rotate(-40deg);
  }

  .students .students__title {
    line-height: 40px;
  }

  .students .students__text {
    line-height: 20px;
  }

  .students .students__button {
    width: 100%;
    text-align: center;
  }

  .students .students__image img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }

  .students .students__image {
    margin-top: calc(10px + 10 * ((100vw - 320px) / 1600));
    margin-right: calc(20px + 530 * ((100vw - 320px) / 1600));
    padding-bottom: calc(20px + 60 * ((100vw - 320px) / 1600));
  }

  .client .client__image img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }

  .footer .top-footer .top-footer__item {
    padding-right: calc(10px + 10 * ((100vw - 320px) / 1600));
    padding-bottom: calc(10px + 10 * ((100vw - 320px) / 1600));
  }

  .footer .top-footer .top-footer__item:last-child {
    padding-right: calc(0px + 0 * ((100vw - 320px) / 1600));
    padding-bottom: calc(0px + 0 * ((100vw - 320px) / 1600));
  }
}

@media (max-width: 550px) {
  .teacher .item-teacher .item-teacher__icons {
    margin: -60px 0px 35px 0px;
  }
}

@media (max-width: 479.98px) {
  .students {
    padding-bottom: calc(20px + 230 * ((100vw - 320px) / 1600));
  }
}

@media (max-width: 400px) {
  .students {
    padding-bottom: calc(20px + 980 * ((100vw - 320px) / 1600));
  }
}

@media (max-width: 350px) {
  .students {
    padding-bottom: calc(20px + 1480 * ((100vw - 320px) / 1600));
  }

  .what-we .what-we__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 35%;
            flex: 0 1 35%;
  }

  .teacher .item-teacher .item-teacher__image img {
    width: 290px;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
}